<div class="profile mt-4">
	<div class="img-profile"><img src="https://source.unsplash.com/HD8KlyWRYYM/100x100" alt="[name]-user-avatar" class="profile"/></div>
	<h1 class="name-profile">Nick Gerard</h1>
	<p class="bio-profile">Building Norby</p>
	<ul class="icons-profile">
		<li><a href="https://twitter.com/">twitter</a></li>
		<li><a href="https://instagram.com/">instagram</a></li>
		<li><a href="https://linkedin.com/in/">linkedin</a></li>
	</ul>
	<a href="#" class="link-profile col-md-10 offset-md-1">
		<p>Link</p>
  </a>
</div>