$font-dark: #303030;
$background-dark: #101010;
$color-light: #ffffff;

.profile{
    text-align: center;
    color: $font-dark;

    .img-profile{
        display: flex;
        justify-content: center;
        
        img{
            display: block;
            width: 100px;
            height: 100px;
            -webkit-box-shadow: 5px 10px 15px -5px rgba(0,0,0,0.1); 
            box-shadow: 5px 10px 15px -5px rgba(0,0,0,0.1);

            &.square{
                border-radius: 3px;
            }
            &.circle{
                border-radius: 100%;
            }
        }

    }

    .name-profile{
        margin-top: 10px;
        font-size: 1.5em;
    }

    .bio-profile{
        font-size: 1em;
    }

    .icons-profile{
        margin-top: 30px;
        padding: 0;

        li{
            margin-left: 10px;
            list-style: none;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }

        a{
            color: $font-dark;
        }
    }

    .link-profile{
        margin-top: 20px;
        padding: 15px 20px;
        background-color: $background-dark;
        color: $color-light;
        border-radius: 5px;
        display: block;
        text-decoration: none;

        p{
            margin: 0;
            color: $color-light;
            font-size: 1em;
            text-align: left;
        }
    }
}