<div class="edit-profile mt-4">
    <a href="#" (click)="toggle()" class="link-edit">edit profile</a>
    <div *ngIf="show">
        <div class="mb-3">
            <label class="form-label">Avator Shape</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="avatarShape" (ngModelChange)="changeAvatarShape($event)" name="avatarShape" id="avatarShape1" value="circle">
                <label class="form-check-label">
                Circle
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="avatarShape" (ngModelChange)="changeAvatarShape($event)" name="avatarShape" id="avatarShape2" value="square">
                <label class="form-check-label">
                Square
                </label>
            </div>
        </div>
    
    
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" (ngModelChange)="changeName($event)">
        </div>
        <div class="mb-3">
            <label class="form-label">Bio</label>
            <textarea class="form-control" rows="3" [(ngModel)]="bio" (ngModelChange)="changeBio($event)"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Twitter</label>
            <input type="text" class="form-control" [(ngModel)]="twitter" (ngModelChange)="changeTwitter($event)">
        </div>
        <div class="mb-3">
            <label class="form-label">Instagram</label>
            <input type="text" class="form-control" [(ngModel)]="linkedin" (ngModelChange)="changeLinkedin($event)">
        </div>
        <div class="mb-3">
            <label class="form-label">Linkedin</label>
            <input type="text" class="form-control" [(ngModel)]="link" (ngModelChange)="changeLink($event)">
        </div>
    
        <div class="mb-3">
            <label class="form-label">Text color</label>
            <input type="color" class="form-control form-control-color" [(ngModel)]="nameColor" (ngModelChange)="changeNameColor($event)">
        </div>
    
        <!-- Link -->
        <div class="mb-3">
            <label class="form-label">Name color</label>
            <input type="range" class="form-range" min="0" max="100" [(ngModel)]="linkBRadius" (ngModelChange)="changeLinkBRadius($event)">
        </div>
        <div class="mb-3">
            <label class="form-label">Background Color</label>
            <input type="color" class="form-control form-control-color" [(ngModel)]="linkBGColor" (ngModelChange)="changeLinkBGColor($event)">
        </div>
        <div class="mb-3">
            <label class="form-label">Text Color</label>
            <input type="color" class="form-control form-control-color" [(ngModel)]="linkColor" (ngModelChange)="changeLinkColor($event)">
        </div>        
    </div>
</div>